@page
@model DMS.Pages.Lookups.Person_Type.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this Person Type?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Person_Type.Name)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Person_Type.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person_Type.Person_Type_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
