@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Daycare Management System</h1>

    @*<a asp-page="/Lookups/Person_Type/Index">Role lookups</a> ||
    <a asp-page="/Lookups/Activity_Type/Index">Activity type lookups</a> ||
    <a asp-page="/Lookups/Age_Bracket/Index">Age bracket lookups</a> ||
    <a asp-page="/Lookups/Contact_Type/Index">Contact type lookups</a>*@

</div>
