@page
@model DMS.Pages.Lookups.Age_Bracket.CreateModel

@{
    ViewData["Title"] = "Create another Age Bracket";
}

<h1>Create another Age Bracket</h1>

<h4>Age brackets are used to categorize rooms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Age_Bracket.Name" class="control-label"></label>
                <input asp-for="Age_Bracket.Name" class="form-control" />
                <span asp-validation-for="Age_Bracket.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age_Bracket.MinDays" class="control-label"></label>
                <input asp-for="Age_Bracket.MinDays" class="form-control" />
                <span asp-validation-for="Age_Bracket.MinDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age_Bracket.MaxDays" class="control-label"></label>
                <input asp-for="Age_Bracket.MaxDays" class="form-control" />
                <span asp-validation-for="Age_Bracket.MaxDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
